@use './variables' as *;

body,
.v-application {
  font-family: $font-family-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a, button {
  transition: $transition-base;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--v-theme-primary), 0.2);
  border-radius: 10px;
  &:hover {
    background: rgb(var(--v-theme-primary));
  }
}

